.mainbox
{
	width: 600px;
	margin-bottom: 5px;
	border: 2px solid #039;
	padding: 1px;
	background: #6CF;
}

.mainbox2
{
	width: 500px;
	margin-bottom: 5px;
	border: 2px solid #039;
	padding: 1px;
	background: #6CF;
}

.mainbox .subbox
{
	font-size:0.6em;
	text-align:left;
}

.mainbox2 .subbox
{
	font-size:0.6em;
	text-align:left;
}

.mainbox div
{
	font-size:1.4em;
	text-align:center;
	border: 1px dotted #039;
	margin:4px;
	padding:4px;
	background: #CDEEFF;
}

.mainbox2 div
{
	font-size:1.4em;
	text-align:center;
	border: 1px dotted #039;
	margin:4px;
	padding:4px;
	background: #CDEEFF;
}

.mainbox2 input
{
	width:90%;
}

label
{
	float: left;
	text-align: right;
	margin-right: 15px;
}

img
{
	border:0px;
}

nav, footer
{
	text-align:center;
}
.error
{
	color:#D53;
	border: 0px solid red;
}

.logo, .logo a
{
	border:0px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:black;
	text-decoration:none;
}

nav, footer
{
	padding:5pt;
}


input
{
	font-size:16pt;
}

/*
.mainbox, #indexPage table
{
  border: 2px solid #039;
  padding: 1px;
  background: #6CF;
} */


.footnote, .footnote div, .mainbox .footnote
{
	text-align:left;
	font-size:10pt;
}

.code {
	font-family:courier new;
}
body{
	background-color:#f2f2f2;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing:1px;
}
.list_container{
	width:600px;
	position:relative;
}
.card_container{
	position:relative;
	width:100%;
	height:300px;
	border: 2px solid black;
	background-color:#e6eeff;
}
.xCenter{
	left:0px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
}
.card_container .card_header{
	position:relative;
	display:block;
	width: 100%;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #004de6),
		color-stop(1, #0055ff)
	 );
	background-color:#004de6;
	border-bottom:2px solid black;
}
.card_container .card_header >p{
	font-size:20px;
	margin:0;
	padding:0;
	padding:10px 20px;
	color:white;
}
.card_container .card_header .card_id{
	position:absolute;
	right:10px;
	top:0;
}

.card_container .card_content{
	width:100%;
	height:180px;
	position:relative;
}
.card_container .card_content .panel{
	width:94%;
	margin-top:15px;
	padding:0px 3%;
	font-size:14px;
}
.card_container .card_content .top_panel{
	margin-top:15px;
	text-align:center;
	background-color:#e6eeff;
}
.card_container .card_content .bottom_panel{
	margin-bottom:12px;
	background-color:#ccdcff;
}
.card_container .card_content .panel .title{
	line-height:0px;
	color:#0055ff;
}

.card_container .card_content .panel .item{
	display:inline-block;
	
}
.card_container .card_content .bottom_panel .description_wrapper{
	width:50%;
	text-align:justify;
}
.card_container .card_content .bottom_panel .close_date_wrapper{
	width:30%;
}
.card_container .card_wrapper .card_footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.card_container .card_wrapper .card_footer_wrapper{
	position:relative;
	width:94%;
	height:70px;
	padding:0px 3%;
}
.card_container .card_wrapper .card_footer_wrapper .item{
	padding-left:2.5%;
	padding-right:2.5%;
}
.card_container .card_wrapper .card_footer_wrapper  >button{
	position:absolute;
	width:15%;
	height:40px;
	margin-top:2px;
	background-color:#0055ff;
	color:white;
	font-size:16px;
	border-radius:4px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}
.card_container .card_wrapper .card_footer_wrapper  >button:hover{
	font-size:14px;
	font-weight:bold;
	color:#004de6;
	border:3px solid #004de6;
	border-radius:4px;
	background-color:#ffffff;	
}
.card_container .card_wrapper .card_footer_wrapper  .no_button{
	right:0;
	margin-right:20px;
}
.card_container .card_wrapper .card_footer_wrapper  .yes_button{
	left:0;
	margin-left:20px;
}
.card_container .card_wrapper .card_footer .total_bar{
	position:relative;
	width:60%;
	height:60%;
	padding:0;
	border:3px solid black;
	border-radius:25px;
	overflow:hidden;
}
.card_container .card_wrapper .card_footer .total_bar .bar{
	position:absolute;
	height:100%;
}
.card_container .card_wrapper .card_footer .total_bar .no_bar{
	text-align:right;
	right:0;
	width:50%;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ff3300),
		color-stop(1, #ffad99)
	 );
}
.card_container .card_wrapper .card_footer .total_bar .yes_bar{
	text-align:left;
	left:0;
	width:50%;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1aff66),
		color-stop(1, #99ffbb)
	);
}
.card_container .card_wrapper .card_footer .total_bar .bar .text{
	margin:0px 20px;
	color:black;
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
}




