/**
	Colors:
		Body Background: #006494 (SEA BLUE)
		Dark-Primary: #13293D; (YANKEES BLUE)
		Secondary: #1B98E0; (BATTERY CHARGED BLUE)
		Text-Primary: #ccffff; (LIGHT BLUE)
		https://coolors.co/13293d-006494-247ba0-1b98e0-e8f1f2
*/
body{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing:1px;
    padding:0px;
    margin:0px;
    font-size:12px;
    text-align:justify;
}
a{
	text-decoration:none;
	color:#1B98E0;
}
#home_page{
	 display:block;
   width:95%;
   max-width:1000px;
}
#home_page .intro_container{
  width:80%;
  background-color:white;
  border:2px solid #13293D;
  border-radius:8px;
  box-shadow:8px 8px 4px rgba(0,0,0,0.2);
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
	padding-bottom:20px;
}
#home_page .intro_container h2 , #home_page .intro_container p{
	margin:0;
	padding:0;
}
#home_page .intro_container h2{
	color:#13293D;
	font-size:22px;
}
#home_page .intro_container p{
	margin-top:20px;
}
