body{
	background-color:#f2f2f2;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing:1px;
	padding:0px;
	margin:0px;
}
#master_page{
	width:100%;
	min-width:1300px;
	max-width:3000px;
}
.xCenter{
	left:0px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
}
.list_item:first-child{
	border-left:0 !important;
}
.masterpage_container .row{
	width:100%;
	position:relative;
}
.masterpage_container .top_row{
	border-top:3px solid #555555;	
}
.masterpage_container .bottom_row{
	border-bottom:3px solid #555555;
}	
.masterpage_container .row .row_wrapper{
	width:80%;
	height:100%;
	position:relative;
}
.masterpage_container .row .row_wrapper >div{
	position:relative;
	display:inline-block;
}
#header_container .bottom_row a{
	text-decoration:none;
	font-weight:bold;
}
#header_container .top_row{
	height:100px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #002533),
		color-stop(1, #00394d)
	 );
}
#header_container .top_row  .row_wrapper >div{
	padding-left:2%;
	padding-right:2%;
}
#header_container .top_row .icon_wrapper{
	width:10%;
	height:inherit;
	position:relative;
	height:100px;
}
#header_container .top_row .icon_wrapper .icon{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:50%;
	max-width:60%;
	max-height:100px;
}
#header_container .top_row .welcome_text{
	position:relative;
	padding-top:20px;
	height:80px;
	width:30%;
	letter-spacing:2px;
}
#header_container .top_row .welcome_text .main_text{
	font-size:24px;
	padding:0;
	margin:0;
	color:#fff64d;
}
#header_container .top_row .welcome_text .sub_text{
	font-size:16px;
	padding:0;
	margin:0;
	margin-top:0.7em;
	color:white;
}
#header_container .top_row .button_wrapper{
	position:relative;
	width:30%;
	height:100px;
}
#header_container .top_row .button_wrapper .login_wrapper{
	position:absolute;
	top:50%;
	transform:translate(0%,-50%);
	width:35%;
	left:3%;
}
#header_container .top_row .button_wrapper .login_wrapper >input{
	width:100%;
	margin-top:2px;
	display:block;
}
#header_container .top_row .button_wrapper >button{
	position:absolute;
	width:25%;
	height:50px;
	top:50%;
	margin-left:8%;
	transform:translate(0%,-50%);
	font-weight:bold;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #e6da00),
		color-stop(0.1, #fff200),
		color-stop(0.5, #fff64d),
		color-stop(0.9, #fff200),
		color-stop(1, #e6da00)
	 );
	 border:2px solid #555555;
	color:#555555;
}
#header_container .top_row .button_wrapper .login_button{
	left:35%;
}
#header_container .top_row .button_wrapper .join_button{
	left:65%;
}
#header_container .bottom_row{
	height:40px;
	background-color:#00394d;
}
#header_container .bottom_row .row_wrapper{
	height:inherit;
}
#header_container .bottom_row .nav_wrapper{
	width:100%;
	height:100%;
}
#header_container .bottom_row .nav_list{
	margin:0px;
	padding:0px;
}
#header_container .bottom_row .nav_list .list_item{
	display:inline-block;
	position:relative;
	height:40px;
	width:16.5%;
	vertical-align: top;
	border-left:3px solid #002533;
	list-style-type: none;
	overflow:hidden;
	
}
#header_container .bottom_row .nav_list .list_item p{
	-webkit-transition-duration: 0.4s;
}
#header_container .bottom_row .nav_list .list_item:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
}
#header_container .bottom_row .nav_list .list_item:hover:after{
    left: 120%;
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
}
#header_container .bottom_row .nav_list .list_item:hover p{
     -webkit-transform: scale(1.1);
}
#header_container .bottom_row .nav_list .list_item >div{
	vertical-align: top;
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;	
	z-index:20;
}
#header_container .bottom_row .nav_list .nav_random{
	background: linear-gradient(0deg, #00394d, #002533, #00394d);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 7s ease infinite;
	-moz-animation: AnimationName 7s ease infinite;
	animation: AnimationName 7s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
#header_container .bottom_row .nav_list .list_item >div p{
	margin:0;
	margin-top:0.7em;
	vertical-align: center;
}
#header_container .bottom_row .nav_list .list_item a{
	color:#fff64d;
}
#footer_container .top_row{
	height:150px;
	background-color:#00394d;
}
#footer_container .bottom_row{
	height:50px;
	background-color:#002533;
}
#footer_container .top_row .row_wrapper .list_item{
	z-index:2;
	position:relative;
	width:33%;
	height:100%;
	border-left:3px dotted #002533;
	border-bottom:3px dotted #002533;
	vertical-align:top;
}
#footer_container .top_row .row_wrapper .contact_panel .item{
	position:relative;
	width:100%;
	display:block;
	padding:10px 20px;
}
#footer_container .top_row .row_wrapper .contact_panel .icon{
	display:inline-block;
	width:10%;
}
#footer_container .top_row .row_wrapper .contact_panel .text{
	font-size:14px;
	color:black;
	vertical-align:middle;
	vertical-align:top;
	display:inline-block;
}
#footer_container .top_row .row_wrapper .contact_panel .text >a{
	color:#fff200;
}