/**
	Colors:
		Body Background: #006494 (SEA BLUE)
		Dark-Primary: #13293D; (YANKEES BLUE)
		Secondary: #1B98E0; (BATTERY CHARGED BLUE)
		Text-Primary: #ccffff; (LIGHT BLUE)
		https://coolors.co/13293d-006494-247ba0-1b98e0-e8f1f2
*/
body{
	background-color:#006494;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing:1px;
	padding:0px;
	margin:0px;
}
input, button, submit { border:none; } 
a{
	text-decoration:none;
}
#master_page{
    width:100%;
	min-width:950px;
    max-width:3000px;
}
.xCenter{
	left:0px; 
	right:0px;
	margin-left:auto;
	margin-right:auto;
}
.list_item:first-child{
	border-left:0 !important;
}
.masterpage_container .row{
	width:100%;
	position:relative;
}
.masterpage_container .top_row{
	/**color-border*/
	border-top:3px solid #13293D;	
}
.masterpage_container .bottom_row{
	border-bottom:3px solid #13293D;
}	
.masterpage_container .row .row_wrapper{
	width:80%;
	height:100%;
	position:relative;
}
.masterpage_container .row .row_wrapper >div{
	position:relative;
	display:inline-block;
}
#header_container .bottom_row a{
	text-decoration:none;
	font-weight:bold;
}
#header_container .top_row{
	height:100px;
	background-color:#13293D;
}
#header_container .top_row .icon_wrapper{
	width:10%;
	height:inherit;
	position:relative;
	margin-left:4%;
}
#header_container .top_row .icon_wrapper .icon{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	max-height:70%;
}
#header_container .top_row .welcome_text{
	position:relative;
	padding-top:20px;
	padding-left:2%;
	height:80px;
	width:60%;
	letter-spacing:2px;
}
#header_container .top_row .welcome_text .main_text{
	font-size:24px;
	padding:0;
	margin:0;
	color:#1B98E0;
}
#header_container .top_row .welcome_text .sub_text{
	font-size:16px;
	padding:0;
	margin:0;
	margin-top:0.7em;
	color:#ccffff;
}
#header_container .bottom_row{
	height:40px;
	background-color: #1B98E0;
}
#header_container .bottom_row .row_wrapper{
	height:inherit;
}
#header_container .bottom_row .nav_wrapper{
	width:100%;
	height:100%;
}
#header_container .bottom_row .nav_list{
	margin:0px;
	padding:0px;
}
#header_container .bottom_row .nav_list .list_item{
	display:inline-block;
	position:relative;
	height:40px;
	width:16.2%;
	vertical-align: top;
	border-left:3px solid #13293D;
	list-style-type: none;
	overflow:hidden;
}
#header_container .bottom_row .nav_list .list_item p{
	-webkit-transition-duration: 0.4s;
}
#header_container .bottom_row .nav_list .list_item:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
}
#header_container .bottom_row .nav_list .list_item:hover:after{
    left: 120%;
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
}
#header_container .bottom_row .nav_list .list_item:hover p{
     -webkit-transform: scale(1.1);
}
#header_container .bottom_row .nav_list .list_item >div{
	vertical-align: top;
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;	
	z-index:20;
}
#header_container .bottom_row .nav_list .nav_random{
	background: linear-gradient(0deg,  #1B98E0, #13293D,  #1B98E0);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 7s ease infinite;
	-moz-animation: AnimationName 7s ease infinite;
	animation: AnimationName 7s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
#header_container .bottom_row .nav_list .list_item >div p{
	margin:0;
	margin-top:0.7em;
}
#header_container .bottom_row .nav_list .list_item a{
	/**color_textAccent*/
	color:#ccffff;
}

#content_container .item{
	position:relative;	
	display:inline-block;
	height:1000px;
    margin-top:2%;
    margin-bottom:2%;
}
#content_container .content_wrapper{
	width:55%;
}
#content_container .content_wrapper .content_iframe{
    width:100%;
    height:1000px;
	
}
#content_container .side_content_wrapper{
	width:15%;
	margin-left:3%;
	margin-right:3%;
}

#footer_container  a{
	color:#ccffff;
	cursor:pointer;
	-webkit-transition-duration: 0.4s;
}
#footer_container  a:hover{
	color:#80ddff;
}
#footer_container .top_row{
	height:150px;
	background-color: #1B98E0;
}
#footer_container .bottom_row{
	height:50px;
	background-color:#13293D;
}
#footer_container .top_row .row_wrapper .list_item{
	z-index:2;
	position:relative;
	width:33%;
	height:100%;
	border-left:3px dotted #13293D;
	border-bottom:3px dotted #13293D;
	vertical-align:top;
}
#footer_container .top_row .row_wrapper .items_wrapper{
	width:100%;
	height:100%;	
	padding-top:5%;
}
#footer_container .top_row .row_wrapper .item{
	position:relative;
	width:70%;
	height:43px;
	display:block;
	padding:0px 20px;
}
#footer_container .top_row .row_wrapper .text{
	font-size:14px;
	color:#13293D;
	font-weight:bold;
	margin:0;
	vertical-align:top;
	display:inline-block;
}
#footer_container .top_row .row_wrapper .links_panel .items_wrapper{
	text-align:right;
	float:right;
	width:120%;
	padding-top:20px;
}
#footer_container .top_row .row_wrapper .links_panel .item{
	float:right;
}
#footer_container .top_row .row_wrapper .statistics_panel .panel{
	position:absolute;
	display:inline-block;
	width:50%;
}
#footer_container .top_row .row_wrapper .statistics_panel .items_wrapper{
	margin-top:10px;
	margin-left:10%;
}
#footer_container .top_row .row_wrapper .statistics_panel .text{
	font-size:12px;
}
#footer_container .top_row .row_wrapper .statistics_panel .left_panel .item{
	height:43px;
}
#footer_container .top_row .row_wrapper .contact_panel .items_wrapper{
	width:120%;
	height:100%;	
	padding-top:2.5%;
}
#footer_container .top_row .row_wrapper .contact_panel .icon_wrapper {
	position:relative;
	display: inline-block;
	width:10%;
	height:100%;
}
#footer_container .top_row .row_wrapper .contact_panel .icon {
	position:absolute;
	top:50%;
	transform:translate(0%,-50%);
	max-width:80%;
	max-height:100%;
}
#footer_container .top_row .row_wrapper .contact_panel .text{
	margin: 10px 10px;
}
#footer_container .bottom_row .row_wrapper .panel{
	padding-top:9px;
	font-size:12px;
	color: #ccffff;
}

@media screen and (max-width : 1500px) {
    p{
		font-size:10px !important;
    }
	.text{
		padding-top:5px !important;
		font-size:12px !important;
	}
	.welcome_text p{
		font-size:16px !important;
	}
	.welcome_text{	
		padding-top:30px !important;
		padding-left:40px !important;
		height:auto !important;
	}
}